<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light">
  <%= link_to "Athletes Den", root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <%= form_tag(dashboard_search_path, class: 'form-inline', role: 'search') do %>
        <input class="form-control mr-sm-2" name="search_name" type="search" placeholder="Search for friends" aria-label="Search" />
        <button type="submit" class="btn btn-outline-light my-2 my-sm-0">Search</button>
      <% end %>
    </ul>
    <% if user_signed_in? %>
      <%= link_to "My Lounge", user_exercises_path(current_user) %>
      <%= "Signed in as #{current_user.email}" %>
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
    <% else %>
      <div class="btn-group">
        <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-outline-primary' %>
        <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-outline-primary' %>
      </div>
    <% end %>
  </div>
</nav>
